<a href="https://colab.research.google.com/github/babaroscopy/ML/blob/main/LRPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
import matplotlib.image as mpimg
from sklearn.decomposition import PCA
from sklearn import tree
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
%matplotlib inline

In [27]:
#https://www.kaggle.com/datasets/zusmani/pakistans-largest-ecommerce-dataset
#read from kaggle/babaroscopy or below
df=pd.read_csv("Pakistan_Largest_Ecommerce_Dataset.csv", delimiter=",")
df.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(396147, 26)

In [28]:
del df['Unnamed: 21']
del df['Unnamed: 22']
del df['Unnamed: 23']
del df['Unnamed: 24']
del df['Unnamed: 25']
del df ['sales_commission_code']

In [29]:
df.dropna(inplace=True)
df.head(4)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0

In [30]:
print(df.nunique())

item_id            396126
status                 13
created_at            513
sku                 53866
price                6242
qty_ordered            56
grand_total         26533
increment_id       274487
category_name_1        16
discount_amount     23636
payment_method         17
Working Date          513
BI Status               4
 MV                  6749
Year                    2
Month                  12
Customer Since         17
M-Y                    17
FY                      2
Customer ID         79720
dtype: int64

In [31]:
from sklearn import preprocessing
label_enco = preprocessing.LabelEncoder()
d = df.select_dtypes(include=['object'])
for i in d.columns:
    df[i] = label_enco.fit_transform(df[i].astype(str))
    #df[i]=label_enco.fit_transform(df[i])

In [32]:
Y=df['category_name_1']
del df['category_name_1']
X=df

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [34]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, Y, test_size=0.3, random_state=3)

In [35]:
LR = LogisticRegression(C=0.01, solver='lbfgs', multi_class='multinomial')
LR.fit(X_trainset,y_trainset)
yhat = LR.predict(X_testset)
print("Accuracy: ", metrics.accuracy_score(y_testset, yhat))

Accuracy:  0.3495430754472475

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [36]:
print(classification_report(y_testset, yhat))

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.59      0.22      0.32      9830
           1       0.11      0.00      0.01      9032
           2       0.00      0.00      0.00       431
           3       0.14      0.00      0.00      3328
           4       0.34      0.04      0.07      4722
           5       0.00      0.00      0.00      3119
           6       0.00      0.00      0.00      5598
           7       0.00      0.00      0.00      3683
           8       0.28      0.75      0.41     20822
           9       0.45      0.62      0.52     22688
          10       0.67      0.00      0.00      1514
          11       0.00      0.00      0.00       769
          12       0.30      0.26      0.28      8635
          13       0.41      0.44      0.42      9953
          14       0.32      0.23      0.27     12357
          15       0.00      0.00      0.00      2357

    accuracy                           0.35    118838
   macro avg       0.23      0.16      0.14    118838
weighted avg       0.31      0.35      0.28    118838

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [37]:
print(confusion_matrix(y_testset, yhat))

[[ 2114     4     0     0   216     0     0     0  2456  4208     0     0
    111   223   498     0]
 [   78    43     0     2     0     0     0     0  4906   849     0     0
   1801   733   620     0]
 [    0     3     0     0     0     0     0     0   263    44     1     0
     37    42    41     0]
 [  438     2     0     2    30     0     0     0  1440  1036     0     0
    138   127   114     1]
 [  285     1     0     0   171     0     0     0   390  3690     0     0
      3    18   164     0]
 [   28    14     0     0     0     0     0     0  1957   387     0     0
    238   168   327     0]
 [   47    64     0     0     1     0     0     0  3765   596     0     0
    329   468   327     1]
 [   18     3     0     0     0     0     0     0  2638   228     0     0
    249   340   207     0]
 [   82    69     0     2     4     0     0     0 15597  1436     0     0
    825  1170  1637     0]
 [  316    52     0     3    75     0     0     0  5767 14103     0     0
    516   796  1060     0]
 [   21     3     0     0     0     0     0     0   755   446     2     0
     67   143    77     0]
 [    0     7     0     0     0     0     0     0   383    26     0     0
    146    89   118     0]
 [    2     8     0     0     0     0     0     0  4582   180     0     0
   2268  1124   471     0]
 [    1     1     0     0     3     0     0     0  4186   567     0     0
    402  4374   419     0]
 [  147    13     0     5     0     0     0     0  5742  2794     0     0
    177   614  2865     0]
 [    0    99     0     0     1     0     0     0   922   688     0     0
    283   255   109     0]]